@page "/"
@using RentalStore.BlazorClientv2.Services
@inject IEquipmentService EquipmentService

@*<h1 class="display-4">Witamy w RentalStore</h1>
<p class="lead">Wypożyczalnia sprzętu sportowego</p>*@


<Banner />
<div class="container mt-5">
    
    <blockquote class="blockquote text-center">
        <h1 class="display-3">Equipment rental company</h1>
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
</div>