@page "/"
@using RentalStore.BlazorClientv2.Services
@inject IEquipmentService EquipmentService

<div class="container mt-5">
    <blockquote class="blockquote text-center">
        <h2 class="display-3">Rental Store Company</h2>
        <p class="mb-0">Your go-to source for all sports equipment rentals. From skis to bicycles, we have it all. Rent online today and enjoy top-quality gear!</p>
        <footer class="blockquote-footer"><cite title="Source Title">The Rental Store Team</cite></footer>
    </blockquote>
</div>
<div class="container mt-5">
    <div class="banner">
        <img src="images/banner.jpg" class="img-fluid w-100" alt="Banner Image" />
    </div>
</div>